
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="nivo-lightbox-notouch">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<!-- Required meta tags -->
<meta charset="utf-8"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="Description"
	content="Tech Point Pro world class software service provider. Services are Cloud ERP, Bulk SMS, QR Payment, Sales Force Tracking &amp; Order Collection Apps (SFTOCA), Insurance Agent Management Solution (IAMS) Apps, Queue Management Solution (QMS), Online Recruitment, E-Commerce Hosting Portal, IT Manage Service and many other custom services."/>
<meta name="keywords"
	content="Software development company in Bangladesh, Outsourcing software company, Web development, cloud software services, ERP Software development, Enterprise Resource Planning and Web Services, QR Payment services, Sales Force Tracking &amp; Order Collection Apps (SFTOCA), Insurance Agent Management Solution (IAMS) Apps, Queue Management Solution (QMS), Online Recruitment, E-Commerce Hosting Portal, IT Manage Service, Human Resource Management System, Hospital Management System, Payroll management system, professional software firm, mobile apps development, Computer Software, Accounting Software, Inventory Management System, Supply chain management"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="author" content="Grayrids"/>
<title>Template </title>
<link rel="icon" href="/resources/cloudservices_icon.png"/>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="resources/bootstrap.css"></link>
<link rel="stylesheet" href="resources/font-awesome.css"></link>
<link rel="stylesheet" href="resources/line-icons.css"></link>
<link rel="stylesheet" href="resources/owl_002.css"></link>
<link rel="stylesheet" href="resources/owl.css"></link>
<link rel="stylesheet" href="resources/nivo-lightbox.css"></link>
<link rel="stylesheet" href="resources/magnific-popup.css"></link>
<link rel="stylesheet" href="resources/slicknav.css"></link>
<link rel="stylesheet" href="resources/animate.css"></link>
<link rel="stylesheet" href="resources/main.css"></link>
<link rel="stylesheet" href="resources/responsive.css"></link>
<style>
.latex-input-enabled input[type=text]:focus, .latex-input-enabled textarea:focus
	{
	background-repeat: no-repeat;
	background-size: auto auto;
	background-position: bottom right;
	background-origin: content-box;
	background-image:
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="18"><text y="18" style="font-size:18px">𝔏 </text></svg>');
}
</style>
</head>
<body cz-shortcut-listen="true">
	<form method="post" action="./" id="form1">
		<div class="aspNetHidden">
			<input name="__VIEWSTATE" id="__VIEWSTATE"
				value="cJOKxcN8+aUoFqfNJJAW8/+mrPMbREgle9k2FHRE5k1GOnpYpMLpIuissE9LdHW9YNnzhnLAFsa6lK+HnbLXR09D6Kb2zYoPp335SrqNpHY="
				type="hidden"/>
		</div>

		<div class="aspNetHidden">

			<input name="__EVENTVALIDATION" id="__EVENTVALIDATION"
				value="tlySmPSYEx1cd9YRAGDJw4g7kVLPg7yhFy9CsurbX6u3e8GxOfgDwcWtiePLE8nMSPMe+cTLkjxNXudGxD/Xa+3m5lLFxs9WeaMq+UaDaNdbfiL26mpHY2B+V7VPL/26dVxExXH17ErtATboRN64MBIaxfsBUVyGj8jeH/zeS5XMOVzWQiUckWmyANaXWXxapBNenv/J24R2hwwbq0Pdgw=="
				type="hidden"/>
		</div>


		<!-- Header Section Start -->
		<header id="hero-area" class="haltech" data-stellar-background-ratio="0.5" style="background-position: 0% 0%;">
			<!-- Navbar Start -->
			<nav
				class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo top-nav-collapse menu-bg">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<div class="slicknav_menu">
							<span aria-haspopup="true" tabindex="0"
								class="slicknav_btn slicknav_collapsed"><span
								class="slicknav_menutxt"></span><span
								class="slicknav_icon slicknav_no-text"><span
									class="slicknav_icon-bar"></span><span
									class="slicknav_icon-bar"></span><span
									class="slicknav_icon-bar"></span></span></span>
							<ul class="slicknav_nav slicknav_hidden" style="display: none;"
								aria-hidden="true" role="menu">
								<li><a class="page-scroll" href="#hero-area"
									role="menuitem" tabindex="-1">Home</a></li>
								<li><a class="page-scroll" href="#services" role="menuitem"
									tabindex="-1">Services</a></li>
								<li><a class="page-scroll" href="#features" role="menuitem"
									tabindex="-1">Products</a></li>
								<li><a class="page-scroll" href="#portfolios"
									role="menuitem" tabindex="-1">Works</a></li>
								<!--<li>
                  <a class="page-scroll" href="#pricing">Pricing</a>
                </li>-->
								<li><a class="page-scroll" href="#team" role="menuitem"
									tabindex="-1">Team</a></li>
								<!--<li >
                  <a class="page-scroll" href="#blog">Blog</a>
                </li>-->
								<li><a class="page-scroll" href="#contact" role="menuitem"
									tabindex="-1">Contact</a></li>
							</ul>
						</div>
						<a href="http://www.techpoint.pro" class="navbar-brand"><img
							class="img-fulid" src="resources/logo.png" width="100px" alt=""/></a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#main-navbar"
							aria-controls="main-navbar" aria-expanded="false"
							aria-label="Toggle navigation">
							<i class="lnr lnr-menu"></i>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="main-navbar">
						<ul class="navbar-nav mr-auto w-100 justify-content-end">
							<li class="nav-item"><a class="nav-link page-scroll active"
								href="#hero-area">Home</a></li>
							<li class="nav-item"><a class="nav-link page-scroll"
								href="#services">Services</a></li>
							<li class="nav-item"><a class="nav-link page-scroll"
								href="#features">Products</a></li>
							<li class="nav-item"><a class="nav-link page-scroll"
								href="#portfolios">Works</a></li>
							<!--<li class="nav-item">
                          <a class="nav-link page-scroll" href="#pricing">Pricing</a>
                        </li>-->
							<li class="nav-item"><a class="nav-link page-scroll"
								href="#team">Team</a></li>
							<!--<li class="nav-item">
                          <a class="nav-link page-scroll" href="#blog">Blog</a>
                        </li>-->
							<li class="nav-item"><a class="nav-link page-scroll"
								href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>

				<!-- Mobile Menu Start -->

				<!-- Mobile Menu End -->

			</nav>
			<!-- Navbar End -->
			
			<div class="container" id="hero2">
				<div class="row justify-content-md-center">
					<div class="col-md-10">
						<div class="contents text-center">
							<h1 class="wow fadeInDown animated" data-wow-duration="1000ms"
								data-wow-delay="0.3s"
								style="visibility: visible; -webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
							<p class="lead  wow fadeIn animated" data-wow-duration="1000ms"
								data-wow-delay="400ms"
								style="visibility: visible; -webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-delay: 400ms; -moz-animation-delay: 400ms; animation-delay: 400ms;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
							<!--<a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Download</a>-->
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Section End -->
		<!-- Services Section Start -->
		<section id="services" class="section">
			<div class="container">
				<div class="section-header">
					<h2 class="section-title wow fadeIn animated"
						data-wow-duration="1000ms" data-wow-delay="0.3s"
						style="visibility: visible; -webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Tech
						Point Pro</h2>
					<hr class="lines wow zoomIn animated" data-wow-delay="0.3s"
						style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"></hr>
					<p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We Provide Quality Services.</p>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="item-boxes wow fadeInDown" data-wow-delay="0.2s"
							style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
							<div class="icon">
								<i class="lnr lnr-cloud-check"></i>
							</div>
							<h4>Cloud ERP</h4>
							<p class="" style="text-align: justify">TechPoint Cloud ERP
								(TCERP) is an enterprise resource planning (ERP) and management
								solution designed to meet the requirements of midsize and large
								enterprise businesses. The solution primarily assists companies
								with accounting, human resource and inventory management and
								business intelligence functionalities.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="item-boxes wow fadeInDown" data-wow-delay="0.2s"
							style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
							<div class="icon">
								<i class="lnr lnr-cloud-check"></i>
							</div>
							<h4>E-commerce</h4>
							<p class="" style="text-align: justify">Multi Vendor E-commerce 
								(MVEC) is an enterprise resource planning (ERP) and management
								solution designed to meet the requirements of midsize and large
								enterprise businesses. The solution primarily assists companies
								with accounting, human resource and inventory management and
								business intelligence functionalities.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="item-boxes wow fadeInDown" data-wow-delay="0.2s"
							style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
							<div class="icon">
								<i class="lnr lnr-cloud-check"></i>
							</div>
							<h4>Education System</h4>
							<p class="" style="text-align: justify">Education System Management
								(ESM) is an enterprise resource planning (ERP) and management
								solution designed to meet the requirements of midsize and large
								enterprise businesses. The solution primarily assists companies
								with accounting, human resource and inventory management and
								business intelligence functionalities.</p>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!-- Services Section End -->
		<!-- Features Section Start -->
		<section id="features" class="section"
			data-stellar-background-ratio="0.2"
			style="background-position: 0% 0%;">
			<div class="container">
				<div class="section-header">
					<h2 class="section-title">TechPoint Products</h2>
					<hr class="lines"></hr>
					<!--<p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos!  Lorem ipsum dolor sit amet, consectetur.</p>-->
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-xs-12">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-sm-6 col-xs-12 box-item">
									<span class="icon"> <i class="lnr lnr-laptop-phone"></i>
									</span>
									<div class="text">
										<h4>Institute Management System</h4>
										<p>
											Institute Management System Credit &amp;
											Investment Management =&gt; Lease , Term Loan, Work
											Order Loan, Housing Loan =&gt; Factoring Loan, SME
											Loan, Loan against TDR Treasury =&gt; TDR ,
											FDR, DPS, Call Money Centralize Accounts
											Online CIB Centralize Web base Solution
										</p>
										<a href="/swapnobikash" class="btn btn-info">Visit Now</a>
									</div>
								</div>
								<div class="col-lg-6 col-sm-6 col-xs-12 box-item">
									<span class="icon"> <i class="lnr lnr-laptop-phone"></i>
									</span>
									<div class="text">
										<h4>Project Management System</h4>
										<p>
											Project Management System Credit &amp;
											Investment Management =&gt; Lease , Term Loan, Work
											Order Loan, Housing Loan =&gt; Factoring Loan, SME
											Loan, Loan against TDR Treasury =&gt; TDR ,
											FDR, DPS, Call Money Centralize Accounts
											Online CIB Centralize Web base Solution
										</p>
										<a href="/projectManagement" class="btn btn-info">Visit Now</a>
									</div>
								</div>
								<div class="col-lg-6 col-sm-6 col-xs-12 box-item">
									<span class="icon"> <i class="lnr lnr-laptop-phone"></i>
									</span>
									<div class="text">
										<h4>Mass Publicity Management System</h4>
										<p>
											Institute Management System Credit &amp;
											Investment Management =&gt; Lease , Term Loan, Work
											Order Loan, Housing Loan =&gt; Factoring Loan, SME
											Loan, Loan against TDR Treasury =&gt; TDR ,
											FDR, DPS, Call Money Centralize Accounts
											Online CIB Centralize Web base Solution
										</p>
										<a href="/massPublicity" class="btn btn-info">Visit Now</a>
									</div>
								</div>
								<div class="col-lg-6 col-sm-6 col-xs-12 box-item">
									<span class="icon"> <i class="lnr lnr-laptop-phone"></i>
									</span>
									<div class="text">
										<h4>Techpoint Pro CMS</h4>
										<p>
											Techpoint Pro CMS &amp;
											Content Management System =&gt; Lease , Term Loan, Work
											Order Loan, Housing Loan =&gt; Factoring Loan, SME
											Loan, Loan against TDR Treasury =&gt; TDR ,
											FDR, DPS, Call Money Centralize Accounts
											Online CIB Centralize Web base Solution
										</p>
										<a href="/adminpanel" class="btn btn-info">Visit Now</a>
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
					<!--<div class="col-lg-4 col-xs-12">
                  <div class="show-box">
                    <img class="img-fulid" src="img/features/feature.png" alt=""/>
                  </div>
                </div>-->
				</div>
			</div>
		</section>
		<!-- Features Section End -->
		<!-- Portfolio Section -->
		<section id="portfolios" class="section">
			<!-- Container Starts -->
			<div class="container">
				<div class="section-header">
					<h2 class="section-title">TechPoint Portfolio</h2>
					<hr class="lines"></hr>
					<!--<p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos!  Lorem ipsum dolor sit amet, consectetur.</p>-->
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- Portfolio Controller/Buttons -->
						<div class="controls text-center">
							<a class="filter btn btn-common active" data-filter="all">
								All </a> <a class="filter btn btn-common" data-filter=".Financial">
								Financial </a> <a class="filter btn btn-common"
								data-filter=".Enterterprise"> Enterterprise </a> <a
								class="filter btn btn-common" data-filter=".Government">
								Government </a>
						</div>
						<!-- Portfolio Controller/Buttons Ends-->
					</div>

					<!-- Portfolio Recent Projects -->
					<div id="portfolio" class="row">
						<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix Financial"
							style="display: inline-block;" data-bound="">
							<div class="portfolio-item">
								<div class="shot-item">
									<img src="resources/img1.png" alt=""/> <a
										class="overlay lightbox"
										href="http://www.techpoint.pro/img/portfolio/img1.png"> <i
										class="lnr lnr-eye item-icon"></i>
									</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- Container Ends -->
		</section>
		<!-- Portfolio Section Ends -->
		<!-- Start Video promo Section -->
		<section id="about_us" class="video-promo section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="video-promo-content text-center">
							<h2 class="wow zoomIn" data-wow-duration="1000ms"
								data-wow-delay="100ms"
								style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none; -webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;">ABOUT
								US</h2>
							<p class="wow zoomIn" data-wow-duration="1000ms"
								data-wow-delay="100ms"
								style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none; -webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;">
								</p>
							<!--<a href="https://www.youtube.com/watch?v=IXoMDwh4Cq8" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>-->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Video Promo Section -->
		<!-- Start Pricing Table Section -->
		<!--<div id="pricing" class="section pricing-section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Pricing Table</h2>
          <hr class="lines"></hr>
          <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos!  Lorem ipsum dolor sit amet, consectetur.</p>
        </div>

        <div class="row pricing-tables">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table">
              <div class="pricing-details">
                <h2>Free</h2>
                <span>$00</span>
                <ul>
                  <li>Consectetur adipiscing</li>
                  <li>Nunc luctus nulla et tellus</li>
                  <li>Suspendisse quis metus</li>
                  <li>Vestibul varius fermentum erat</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">Get Plan</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table">
              <div class="pricing-details">
                <h2>Popular</h2>
                <span>$3.99</span>
                <ul>
                  <li>Consectetur adipiscing</li>
                  <li>Nunc luctus nulla et tellus</li>
                  <li>Suspendisse quis metus</li>
                  <li>Vestibul varius fermentum erat</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table">
              <div class="pricing-details">
                <h2>Premium</h2>
                <span>$9.50</span>
                <ul>
                  <li>Consectetur adipiscing</li>
                  <li>Nunc luctus nulla et tellus</li>
                  <li>Suspendisse quis metus</li>
                  <li>Vestibul varius fermentum erat</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">Buy Now</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>-->
		<!-- End Pricing Table Section -->
		<!-- Counter Section Start -->
		<!--<div class="counters section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item">
              <div class="icon">
                <i class="lnr lnr-clock"></i>
              </div>
              <div class="fact-count">
                <h3><span class="counter">1589</span></h3>
                <h4>Working Hours</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item">
              <div class="icon">
                <i class="lnr lnr-briefcase"></i>
              </div>
              <div class="fact-count">
                <h3><span class="counter">699</span></h3>
                <h4>Completed Projects</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item">
              <div class="icon">
                <i class="lnr lnr-user"></i>
              </div>
              <div class="fact-count">
                <h3><span class="counter">203</span></h3>
                <h4>No. of Clients</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item">
              <div class="icon">
                <i class="lnr lnr-heart"></i>
              </div>
              <div class="fact-count">
                <h3><span class="counter">1689</span></h3>
                <h4>Peoples Love</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
		<!-- Counter Section End -->
		<!-- Team section Start -->
		<section id="team" class="section">
			<div class="container">
				<div class="section-header">
					<h2 class="section-title">TechPoint Team</h2>
					<hr class="lines"></hr>
					<!--<p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos!  Lorem ipsum dolor sit amet, consectetur.</p>-->
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="single-team">
							<img src="resources/team1.png" alt=""/>
							<div class="team-details">
								<div class="team-inner">
									<h4 class="team-title"></h4>
									<h6 class="team-title">Chairman</h6>
									<p style="text-align: justify"></p>
									<!--<ul class="social-list">
                                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>-->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="single-team">
							<img src="resources/team2.png" alt=""/>
							<div class="team-details">
								<div class="team-inner">
									<h4 class="team-title">Team One</h4>
									<h6 class="team-title">Director &amp; Technical Advisor</h6>
									<p style="text-align: justify"></p>
									<!--<ul class="social-list">
                                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>-->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="single-team">
							<img src="resources/team3.png" alt=""/>
							<div class="team-details">
								<div class="team-inner">
									<h4 class="team-title">Team Two</h4>
									<h6 class="team-title">Managing Director &amp; CEO</h6>
									<p style="text-align: justify"></p>
									<!--<ul class="social-list">
                                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>-->
								</div>
							</div>
						</div>
					</div>
					<!--<div class="col-lg-3 col-md-6 col-xs-12">
                  <div class="single-team">
                    <img class="img-fulid" src="img/team/team4.jpg" alt=""/>
                    <div class="team-details">
                      <div class="team-inner">
                        <h4 class="team-title">Patricia Green</h4>
                        <p>Graphic Designer</p>
                        <ul class="social-list">
                          <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>-->
				</div>
			</div>
		</section>
		<!-- Team section End -->
		<!-- testimonial Section Start -->
		<div id="testimonial" class="section"
			data-stellar-background-ratio="0.1"
			style="background-position: 0% 0%;">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-md-12">
						<div class="touch-slider owl-carousel owl-theme"
							style="opacity: 1; display: block;">
							<div class="owl-wrapper-outer">
								<div class="owl-wrapper"
									style="width: 7770px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-555px, 0px, 0px);">
									<div class="owl-item" style="width: 555px;">
										<div class="testimonial-item">
											<img src="resources/employee1.png"
												alt="Client Testimonoal"/>
											<div class="testimonial-text">
												<p style="text-align: center">
													
												</p>
												<h3></h3>
												<span></span>
											</div>
										</div>
									</div>
									
								</div>
							</div>






							<div class="owl-controls clickable">
								<div class="owl-pagination">
									<div class="owl-page active">
										<span class=""></span>
									</div>
									<div class="owl-page">
										<span class=""></span>
									</div>
									<div class="owl-page">
										<span class=""></span>
									</div>
									<div class="owl-page">
										<span class=""></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- testimonial Section Start -->
		<!-- Contact Section Start -->
		<section id="contact" class="section"
			data-stellar-background-ratio="-0.2"
			style="background-position: 0% 0%;">
			<div class="contact-form">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<div class="contact-us">
								<h3>Contact With Us</h3>
								<div class="contact-address">
									<p>House # , Road # , </p>
									<p>, - , Bangladesh</p>
									<p class="phone">
										Phone: <span></span>
									</p>
									<p class="email">
										E-mail: <span>(info@www.techpoint.pro)</span>
									</p>
								</div>
								<div class="social-icons">
									<ul>
										<!--<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<div class="contact-block">
								<div id="contactForm" novalidate="true">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input name="txtSenderName" id="txtSenderName"
													class="form-control" placeholder="Your Name" required=""
													data-error="Please enter your name" type="text"/>

												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">

												<input name="txtSenderEmail" id="txtSenderEmail"
													class="form-control" placeholder="Your Email" required=""
													data-error="Please enter your email" type="text"/>


												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">

												<input name="txtSubject" id="txtSubject"
													class="form-control" placeholder="Your Subject" required=""
													data-error="Please enter your Subject" type="text"/>


												<div class="help-block with-errors"></div>
											</div>
										</div>

										<div class="col-md-12">
											<div class="form-group">

												<textarea name="txtQuery" rows="8" cols="10" id="txtQuery"
													class="form-control" placeholder="Your Message" required=""
													data-error="Write your message"></textarea>


												<div class="help-block with-errors"></div>
											</div>
											<div class="submit-button text-center">
												<input name="submit" value="Send Message" id="submit"
													class="btn btn-common disabled"
													style="pointer-events: all; cursor: pointer;" type="submit"/>

												<div id="msgSubmit" class="h3 text-center hidden"></div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Contact Section End -->
		<!-- Footer Section Start -->
		<footer>
			<div class="container">
				<div class="row">
					<!-- Footer Links -->
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<ul class="footer-links">
							<li><a href="#hero-area">Homepage</a></li>
							<li><a href="#services">Services</a></li>
							<li><a href="#about_us">About Us</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="copyright">
							<p>All copyrights reserved © 2018 - TechPointnologies Limited</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer Section End -->
		<!-- Go To Top Link -->
		<a href="#" class="back-to-top"> <i class="lnr lnr-arrow-up"></i>
		</a>
		<!-- <a href="#" class="back-to-top"> 
			Sign up
		</a> -->

		<div id="loader" style="display: none;">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="resources/jquery-min.js"></script>
		<script src="resources/popper.js"></script>
		<script src="resources/bootstrap.js"></script>
		<script src="resources/jquery_007.js"></script>
		<script src="resources/nivo-lightbox.js"></script>
		<script src="resources/owl.js"></script>
		<script src="resources/jquery_004.js"></script>
		<script src="resources/jquery_006.js"></script>
		<script src="resources/scrolling-nav.js"></script>
		<script src="resources/jquery.js"></script>
		<script src="resources/smoothscroll.js"></script>
		<script src="resources/jquery_003.js"></script>
		<script src="resources/wow.js"></script>
		<script src="resources/jquery_002.js"></script>
		<script src="resources/jquery_008.js"></script>
		<script src="resources/jquery_005.js"></script>
		<script src="resources/waypoints.js"></script>
		<script src="resources/form-validator.js"></script>
		<script src="resources/contact-form-script.js"></script>
		<script src="resources/main.js"></script>


	</form>


</body>
</html>
