<div ng-controller="UserController">
        <center>
            <h1>Payroll Form</h1>
            <table border="0" class="table">
                <thead>
                    <th>First Name</th>
                    <th><input placeholder="Enter First Name"
                        ng-model="user.firstName" /></th>
                    <th></th>
                    <th></th>
                </thead>
                <thead>
                    <th>Last Name</th>
                    <th><input placeholder="Enter Last Name"
                        ng-model="user.lastName" /></th>
                    <th></th>
                    <th></th>
                </thead>
                <thead>
                    <th></th>
                    <th><input type="button" ng-click="addUser()"
                        value="Add User" /></th>
                    <th></th>
                    <th></th>
                </thead>
            </table>
            <table border="1" class="table">
    
                <thead>
                    <th>
                        <center>
                            <input placeholder="Search By First Name" style=''
                                ng-model="searchText.firstName" />
                        </center>
                    </th>
                    <th>
                        <center>
                            <input placeholder="Search By Last Name" style=''
                                ng-model="searchText.lastName" />
                        </center>
                    </th>
                    <th><select ng-model="sortColumn">
                            <option value="">Order By</option>
                            <option value="+firstName">First Name ASC</option>
                            <option value="+lastName">Last Name ASC</option>
                            <option value="-firstName">First Name DESC</option>
                            <option value="-lastName">Last Name DESC</option>
                    </select></th>
                    <th><input type="number" size="5" ng-model="rowLimit" /> <input
                        type="checkbox" ng-model="exactMatch" />Exact Match</th>
                </thead>
                <thead>
                    <th style="cursor: pointer;" ng-click="sortData('firstName')">First
                        Name
                        <div ng-class="getSortClass('firstName')"></div>
                    </th>
                    <th style="cursor: pointer;" ng-click="sortData('lastName')">Last
                        Name
                        <div ng-class="getSortClass('lastName')"></div>
                    </th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
    
                <tr
                    ng-repeat="user in users | limitTo:rowLimit | orderBy:sortColumn:reverseSort | filter:searchText:exactMatch">
                    <td>{{ user.firstName | uppercase}}</td>
                    <td>{{ user.lastName }}</td>
                    <td><input type="button" value="Edit"
                        class="btn btn-warning" ng-click="editUser(user)" /></td>
                    <td><input type="button" value="Delete"
                        class="btn btn-success" ng-click="deleteUser(user)" /></td>
                </tr>
            </table>
        </center>
    
    </div>
    <p class="muted credit">Created By My CRUD Maker.</p>
    </div>