<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<title>Angular JS CRUD</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<script src='../js/jquery.min.js'></script>
	<script src='../js/angular.min.js'></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.js'></script>
	<script src='../js/blog.js'></script>

	<div class="container">
		<div id="container" class="well">
			<h1 style="float:right">The Days...</h1>

			<div ng-app ng-controller="BlogController">
				<center>
					<table border="0" class="table">
						<thead>
							<th>Headline</th>
							<th><input placeholder="Enter Headline"
								ng-model="blog.headline" size="100" /></th>
							<th></th>
							<th></th>
						</thead>
						<thead>
							<th>Blog Details</th>
							<th><textarea rows="3" cols="90" ng-model="blog.blogDetails"
									placeholder="Enter Blog Details">
							 
							 </textarea> <input type="button" ng-click="addBlog()" value="Publish"
								class="btn btn-success" /></th>
							<th></th>
							<th></th>
						</thead>
						<!-- <thead>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</thead> -->
					</table>
				</center>
					<div
						ng-repeat="blog in blogList | limitTo:rowLimit | orderBy:sortColumn:reverseSort | filter:searchText:exactMatch">
						<h1>{{ blog.headline | uppercase}}</h1>
						<p>{{ blog.blogDetails }}</p>
						<input type="button" value="Edit" class="btn btn-warning"
							ng-click="editBlog(blog)" /> <input type="button" value="Delete"
							class="btn btn-success" ng-click="deleteBlog(blog)" />
					</div>


			</div>
			<br/>
			<p class="muted credit">Created By My CRUD Maker.</p>
		</div>
		<div id="button"></div>
	</div>
	<!-- <div id="footer">
		
	</div> -->


</body>

</html>
